<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae aliquam ad illo quam itaque libero, nemo mollitia expedita quidem placeat quaerat reprehenderit laudantium provident nam repellat ex consectetur eum pariatur.</p>
    </div>
</div>