<div class="jumbotron mt-4">
    <h1 class = "display-4">Notes App NodeJS MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora sequi tenetur ullam esse tempore sed suscipit quasi dolore. Magni amet aperiam quas provident vitae adipisci explicabo recusandae distinctio harum nobis!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis minima sequi vel eos doloribus et temporibus autem, velit, assumenda quibusdam fugit id adipisci saepe a harum quam corrupti non eum.</p>
    <a href="https://www.aulavirtual.urjc.es" class="btn btn-primary btn-lg">URJC</a>
</div>